:root {
  --primary-color: #0069c2;
  --background-color: #f9f9f9;
  --border-color: #ccc;
  --text-color: #333;
  --secondary-text-color: #f9f9f9;
  --hover-color: #004a99;
  --font-family: "Arial", sans-serif;
}

/* Style global du body */
body {
  font-family: var(--font-family);
  color: var(--text-color);
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  border-radius: 8px;
  margin: 0;
  padding: 15px;
}

/* Conteneur de la recherche */
#search-container {
  border: 1px solid var(--border-color);
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 15px;
  background-color: #ffffff;
}

#search-container label {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--primary-color);
}

/* Conteneur d'historique */
#history-container {
  border: 1px solid var(--border-color);
  border-radius: 5px;
  padding: 15px;
  max-height: 250px;
  overflow-y: auto;
  background-color: #ffffff;
}

/* Style des éléments dans l'historique */
#history-container ul {
  padding: 0;
  margin: 0;
}

#history-container li {
  list-style-type: none;
  padding: 10px 0;
  border-bottom: 1px solid var(--border-color);
}

#history-container li a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 1rem;
}

#history-container li a:hover {
  color: var(--hover-color);
  text-decoration: underline;
}

#addFav {
  margin-bottom: 6px;
  background-color: #0069c2;
  color: #ffffff;
  border-radius: 5px;
}
#search-btn {
  margin: 6px 10px;
}
/* Style des éléments de mise en valeur dans le titre */
.highlight {
  color: var(--primary-color);
  font-weight: bold;
}

.highlight-m.underscore {
  font-size: 1.3rem;
  font-weight: bolder;
}

/* Dropdown menu */
.dropdown {
  max-width: 100px;
  background: var(--primary-color);
  color: var(--text-color);
  border-radius: 5px;
  overflow: hidden;
}

.dropdown:hover {
  background: var(--hover-color);
}

/* Bouton favoris */
.btn-top {
  width: 100%;
  height: 25px;
  border: none;
  background: var(--primary-color);
  color: #ffffff;

  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn-top:hover {
  background: var(--primary-color);
  color: rgb(205, 205, 210);
}

/* Bloc de liens (pour la gestion des favoris) */
.bloc-links {
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease-in-out;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bloc-links ul {
  padding: 0 20px;
  margin: 0;
}

.bloc-links li {
  padding: 5px 0;
}

.bloc-links li a {
  font-size: 16px;
  color: var(--secondary-text-color);
  text-decoration: none;
}

.bloc-links li a:hover {
  text-decoration: underline;
}

.delete-btn {
  background: none;
  border: none;
  font-size: 15px;
  color: var(--text-color);
}
